/* Tested together with Ultrachromic/titlepage/title_simple-logo.css */
/* v1.0.0 */
:root {
    --smallRadius: 0.5em;
    --primaryItemPageNegativeSpace: 12vh;
    --sidePadding: 3.3%;
    --itemColumnGap: 1em;
}

.backdropContainer > div,
.backdropImage {
    filter: unset !important;
}

.backdropImage {
    filter: none !important;
}

.backdropImageFadeIn {
    transform-origin: bottom center;
    animation: animScaleUp 0.5s ease-out forwards;
}

.backdropImage::before {
    transform: scale(1.1);
    filter: var(--blurLargest);
}

.layout-desktop .backdropImage::after {
    transition: opacity 0.25s;
}

.layout-desktop .itemBackdrop {
    height: calc(100vh - 32vh - var(--primaryItemPageNegativeSpace)) !important;
}

.itemBackdrop {
    height: 52vh;
    display: block !important;
}

.detailLogo {
    position: absolute !important;
    display: block !important;
    top: calc(100vh - 16em - var(--primaryItemPageNegativeSpace));
    left: 0;
    width: 40%;
    transform: translateY(-100%);
    margin: auto 30% !important;
    height: 25vh;
    background-position: bottom !important;
}

.detailLogo:not(.hide) ~ .detailPageWrapperContainer .nameContainer h1,
#itemDetailPage:has(.detailImageContainer .card.backdropCard) .detailLogo,
#itemDetailPage:has(.detailImageContainer .cardImageIcon.album) .detailLogo,
#itemDetailPage:has(.detailImageContainer .cardImageIcon.person) .detailLogo,
.detailImageContainer .card:not(.portraitCard):has(.cardImageIcon.person) {
    z-index: 2;
    display: none;
}

.itemName.originalTitle {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.libraryPage:not(.noSecondaryNavPage) {
    padding-top: 9.5em !important;
}

.libraryPage:not(.noSecondaryNavPage):not(.layout-tv .libraryPage) {
    padding-top: 6.8em !important;
}

.layout-desktop .detailPageWrapperContainer {
    min-height: 46vh;
    background: linear-gradient(0deg, var(--base) 70%, 85%, transparent);
}

.detailPageSecondaryContainer {
    padding-top: 0 !important;
}

.detailPageWrapperContainer {
    padding-top: unset;
    margin-top: unset;
}

.detailPagePrimaryContainer {
    align-content: space-between;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    text-align: left;
}

.infoWrapper {
    align-content: end;
    place-items: center;
    display: grid;
    text-align: center;
}

.itemMiscInfo {
    align-items: flex-end !important;
    justify-content: center;
}

.itemMiscInfo-primary {
    column-gap: 0.5em;
}

.emby-button.detailButton {
    font-size: 1rem !important;
}

.mediaInfoItem {
    border-radius: var(--smallRadius);
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
}

.mediaInfoOfficialRating {
    background: transparent !important;
    font-size: 0.75em;
    line-height: 1.5em;
    transform: translateY(-0.15em);
    font-weight: 600;
    border: var(--mod-subtle) 1px solid;
}

[dir="ltr"] .mediaInfoCriticRating {
    background-size: 30%;
    padding-left: 1.5em;
}

.layout-desktop .detailImageContainer .card {
    position: absolute !important;
    width: 22vh !important;
    float: none;
    left: 0 !important;
    top: 0;
    right: 0;
    margin: auto;
    margin-bottom: 0;
    place-self: center;
    transform: translateY(-80%);
    max-height: none;
}

.detailImageContainer .card {
    display: none;
}

.card {
    box-sizing: border-box;
}

.layout-desktop [dir="ltr"] .detailRibbon,
.layout-tv [dir="ltr"] .detailRibbon {
    flex-direction: column;
}

.detailPagePrimaryContainer > .detailPagePrimaryContent,
[dir="ltr"] .detailPagePrimaryContainer > .detailRibbon,
[dir="ltr"] .detailPagePrimaryContainer.detailRibbon {
    padding-left: var(--sidePadding, 3.3%) !important;
}

.layout-desktop .detailRibbon {
    height: 28vh;
    margin-top: unset;
}

[dir="ltr"] .padded-right {
    padding-right: 3.3%;
}

[dir="ltr"] .padded-left {
    padding-left: 3.3%;
}

.padded-right {
    padding-right: var(--sidePadding) !important;
}

.detailRibbon {
    background-color: transparent;
}

.detailPagePrimaryContainer > .detailPagePrimaryContent {
    padding-top: 0;
}

.detailSectionContent {
    order: 1;
    grid-column: 1 / -1;
    max-width: unset !important;
}

.detailSectionContent a:not(.overview-expand) {
    text-align: start;
}

.layout-desktop .detailSectionContent {
    align-content: end;
    min-height: 15vh;
}

.itemDetailsGroup {
    order: 2;
    grid-column: 1 / 3;
    outline: none;
    overflow: hidden;
    margin-top: 1em;
    border-radius: var(--smallRadius);
    background-color: var(--mod-normal);
    border: none;
    box-shadow: inset 0 0 0 0.06em var(--mod-subtle) !important;
    backdrop-filter: blur(10px);
}

.trackSelections.hide~.recordingFields.hide~.itemDetailsGroup {
    grid-column: 1 / -1;
}

.detailSection>.nextUpSection {
    order: 5;
    grid-column: 1;
}

.detailSection>#listChildrenCollapsible {
    order: 6;
    grid-column: 2 / -1;
}

.nextUpSection.hide~#listChildrenCollapsible {
    grid-column: 1 / -1;
}

#itemDetailPage .detailSection:not(.tmdb-reviews-section) {
    display: grid;
    row-gap: 1em;
    column-gap: 3em;
    max-width: unset !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.trackSelections {
    order: 3;
    max-width: unset !important;
    margin-top: 1em;
    border: var(--mod-subtle) 1px solid;
    border-radius: var(--smallRadius);
    padding: 1em;
    grid-column: 3 / 5;
    background-color: var(--mod-normal);
    backdrop-filter: blur(10px);
}

.recordingFields {
    order: 4;
}

.tagline {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0;
    font-style: italic;
}

.layout-desktop .detail-clamp-text {
    -webkit-line-clamp: 2;
}

.detail-clamp-text {
    -webkit-line-clamp: 6;
    text-align: start;
    margin-top: 0;
    margin-bottom: 0;
}

.detail-clamp-text p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.detailSectionContent:has(.itemExternalLinks.hide) .overview-controls {
    height: 1em;
}

.overview-controls {
    height: 0;
}

.overview-expand.emby-button {
    padding: 0;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    color: transparent;
}

.itemTags,
.itemTags > a {
    display: none;
    font-size: unset !important;
    font-weight: 200;
}

.itemExternalLinks.focuscontainer-x {
    color: transparent;
}

.detailsGroupItem:not(:last-child) {
    border-bottom: var(--mod-subtle);
}

.detailsGroupItem,
.trackSelections .selectContainer {
    max-width: unset !important;
    align-items: baseline;
}

.detailsGroupItem {
    margin: 0 !important;
    justify-content: space-between;
    padding: 0.5em 0.9em;
    align-items: baseline;
}

#itemDetailPage .verticalSection .itemsContainer.padded-right {
    padding-right: 0 !important;
}

.itemsContainer:not(.editorsChoiceItemsContainer) {
    column-gap: var(--itemColumnGap, 1em);
}

.vertical-wrap:not(.centered) {
    justify-content: flex-start !important;
}

[dir="ltr"] .detailPageContent,
.content-primary {
    padding-left: var(--sidePadding) !important;
    padding-right: var(--sidePadding) !important;
}

.detailPageContent {
    gap: 1em;
}

#itemDetailPage .emby-scroller-container,
#itemDetailPage .emby-scroller,
#itemDetailPage .scrollX {
    margin: 0 calc(-1 * var(--sidePadding));
    padding: 0 var(--sidePadding);
    padding-left: calc(var(--sidePadding) - 0.375em);
}

.layout-desktop .emby-scroller-container,
.layout-desktop .emby-scroller,
.layout-desktop .scrollX {
    --itemColumnGap: 0.5em;
}

.streaming-lookup-container > div {
    border-color: var(--mod-subtle) !important;
    background: var(--mod-normal) !important;
}

@keyframes animScaleUp {
    from {
        transform: translateY(-2.5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
